.adduser
{
    /* background: linear-gradient(rgba(12, 11, 11, 0.734),rgba(22, 19, 19, 0.652)),url(https://images.pexels.com/photos/2952871/pexels-photo-2952871.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); */
    background-position: center;
    background-color: rgba(71, 70, 70, 0.189);
   
    background-size: cover;
    padding: 5px;
    height: 100vh;
    text-align: center;
}

.form1
{
    background-color: rgba(109, 109, 127, 0.54);
    padding: 40px 2px;
    margin: 0px 340px;
    border-radius: 8px;
    box-shadow: 10px 6px 10px 1px rgb(174, 174, 185);
    
}
.form1 input
{
    width: 350px;
    height: 25px;
    margin: 10px 0px;
}
.section{
    
  position: relative;
  margin-top: 1px;
}
.section h1
{
    text-shadow: -10px 8px 15px rgb(130, 122, 122);
}