.adminnavbar
{
   
}
.navbar
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(166, 162, 162);
    padding: 2px;
}
.pages a
{
    padding-left: 20px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.pages{

    padding-right: 100px;
    padding-top: 10px;
}
.navbar img{
    /* padding-left:  20px; */
    /* padding-top: 10px; */
    border-radius: 100px;
    margin-left: 20px ;
    /* margin-top: 2px; */
    align-items: center;
    
}
.pages a:hover
{
    color: beige;
}